{% extends 'sidebar.html' %}
{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10 border p-5 shadow">
<table class="table table-light">

<tr>
	<th> movie name</th>
	<th>movie date</th>
	<th>movie time</th>
	<th>total seats</th>
	<th>seats number</th>
</tr>
{% for i in data %}
<tr>
	<td>{{i.movie_name}}</td>
	<td>{{i.movie_date}}</td>
	<td>{{i.movie_time}}</td>
	<td>{{i.total_number_of_seats}}</td>
	<td>{{i.seat_numbers}}</td>
</tr>
{% endfor %}






















{% endblock %}