{% extends 'sidebar.html' %}
{% block content %}




<div class="row">
	<div class="col-3"></div>
	<div class="col-6 border p-5 bg-info-subtle shadow">
		<h1 class="text-danger">change password</h1><hr>
		<hr>
		<form method="POST" action="">
			{% csrf_token %}
			<input type="password" class="form-control" name="opw" placeholder="old password"><br>	<br>
			<input type="password" class="form-control" name="npw" placeholder="new password"><br>	<br>
			<input type="password" class="form-control" name="rpw" placeholder="re-enter password"><br>	<br>
			<button type="submit" class="btn btn-danger">set password</button><br>








		</form>
			
		







	</div>
	<div class="col-3"></div>
</div>
{% if msg %}
    <script type ="text/javascript">
	   alert("{{msg}}")
	 </script>
{%  endif  %}

{% endblock %}