<!DOCTYPE html>
{% include 'header.html' %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>	</title>
</head>
<body>

	<div style="background-color:black;">


	<div class="row" text-light text-center pt-5 >
			<div class="col-12">
			<h1 class="display-1 text-white text-center"><b><i>ALL MOVIES</i></b></h1></div></div></div><br><br>
	                    <div class="container">
						<div class="row p-5 border-primary">
						
					
						<div class="col-7">
						 <iframe width="100%" height="500" src="https://www.youtube.com/embed/yG_XYjb9dJ8?si=BfB4PyjnDcYFh7-K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
						 <!-- <div class="col-1"></div> -->
						 						 <div class="col-5 text-black">
						 						 	<h1 class="display-4 text-warning">movie-BAD NEWS</h2>
						 						 	<p class="fs-4">Bad Newz boasts an impressive ensemble cast, led by Vicky Kaushal, Triptii Dimri, and Ammy Virk in the lead roles. Vicky Kaushal portrays the character of Akhil Chadha, while Triptii Dimri takes on the role of Saloni and Ammy Virk rounds out the trio as Gurbir.</p>
						 						 </div></div></div>
					<div class="container">
						<div class="row p-5">
						
					
						<div class="col-4">
						 <h1 class="display-4 text-warning">MOVIE- transformers 1</h1>
						 <p class="fs-4">It is the first installment in the Transformers film series. The film is directed by Michael Bay from a screenplay by Roberto Orci and Alex Kurtzman. It stars Shia LaBeouf as Sam Witwicky, a teenager who gets caught up in a war between the heroic Autobots and the villainous Decepticons, two factions of alien robots.</p></div>
						 <div class="col-1"></div>
						 						 <div class="col-7 text-black">
				<iframe width="100%" height="500" src="https://www.youtube.com/embed/u2NuUWuwPCM?si=3f8baks0kIdZWhcw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						 						 </div></div></div>
				<div class="container">
						<div class="row p-5">
						
					
						<div class="col-7">
						 <iframe width="100%" height="500" src="https://www.youtube.com/embed/KVnheXywIbY?si=OfZnxCpDl8jcYZ3T" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
						 <div class="col-1"></div>
						 						 <div class="col-4 text-black">
						 						 	<h2 class="display-4 text-warning">movie-STREE 2</h2>
						 						 	<p class="fs-4">A sequel to Stree (2018), it is the fifth installment in the Maddock Supernatural Universe. It stars Shraddha Kapoor and Rajkummar Rao, alongside Pankaj Tripathi, Abhishek Banerjee and Aparshakti Khurana. The film is scheduled for theatrical release on 15 August 2024</p>
						 						 </div></div></div>



			   <div class="container">
						<div class="row">
						
					
						<div class="col-4">
						<h2 class="display-4 text-warning">daru na peenda hove</h2>
						 <p class="fs-4"> Gogga (Khan), a devoted yet insecure father, sees his world shaken when Jagroop (Gill), a charismatic and mysterious bachelor, moves in across the street and captivates his son's attention.</p></div>
						 <div class="col-1"></div>
						 						 <div class="col-7 text-black">
						 		<iframe width="100%" height="500" src="https://www.youtube.com/embed/e851UWo0bVw?si=sMPQ2orkKZ2jV5lE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						 						 	
						 						 </div></div></div>


					<div class="container">
						<div class="row">
						
					
						<div class="col-7">
						 <iframe width="100%" height="500" src="https://www.youtube.com/embed/8Iy2geJD8HY?si=Vl7EsKoxd4PsKkCu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
						 <div class="col-1"></div>
						 						 <div class="col-4 text-black">
						 						 	<h2 class="display-4 text-warning">movie-SARFIRA</h2>
						 						 	<p class="fs-4">Indian Hindi-language drama film directed by Sudha Kongara and produced by 2D Entertainment, Abundantia Entertainment and Cape Of Good Films starring Akshay Kumar, Paresh Rawal and Radhika Madan.</p>
						 						 </div></div></div>





				<div class="container">
						<div class="row">
						
					
						<div class="col-4">
						 <h2 class="display-4 text-warning">MR and Mrs Mahi</h2>
						 						 	<p class="fs-4">Mr. & Mrs. Mahi is a film that positions itself as a family-friendly offering with a story that aims to appeal to a wide range of audiences. A film with an interesting story on paper that fails to translate into a compelling cinematic experience</p></div>
						 <div class="col-1"></div>
						 						 <div class="col-7 text-black">
						 		<iframe width="100%" height="500" src="https://www.youtube.com/embed/vB7OiVfmEDM?si=7rJwHeUKDwBq8br0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						 						 	
						 						 </div></div></div>



						<div class="container">
						<div class="row">
						
					
						<div class="col-7">
						 <iframe width="100%" height="500" src="https://www.youtube.com/embed/-yBOZzNSpIM?si=tIGGxNlU-Al5ocze" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
						 <div class="col-1"></div>
						 						 <div class="col-4 text-black">
						 						 	<h2 class="display-4 text-warning">INDIAN 2</h2>
						 						 	<p class="fs-4">In this sequel to the 1996 film Hindustani, Kamal Hassan reprises his role as Senapathy, an ex-freedom fighter turned vigilante who fights against corruption. Senapathy returns to the country to aid a young man who has been exposing corrupt politicians in the country through videos on the internet</p>
						 						 </div></div></div>
			<div class="container">
						<div class="row">
						
					
						<div class="col-4">
						 <h2 class="display-4 text-warning">JATT AND JULLIET 3</h2>
						 						 	<p class="fs-4">Fateh Singh (Diljeet) joins the police station as a new recruit and immediately starts wooing his colleague Pooja (Neeru Bajwa). Pooja reciprocates his advances. They both fall for each other. However, things turn sour with time and are forced by the department to visit England to solve the case.</p>
						 						 </div>
						 <div class="col-1"></div>
						 <div class="col-7 text-black">
						<iframe width="100%" height="500" src="https://www.youtube.com/embed/YAGcd9BhbTM?si=hWyxWmM17KZLTetX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


						 						 	
						 						 </div></div></div>
				<div class="container">
						<div class="row">
						
					
						<div class="col-7">
						 <iframe width="100%" height="500" src="https://www.youtube.com/embed/LH6sHR86t-M?si=grA3gE1irCL_pLIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
						 <div class="col-1"></div>
						 						 <div class="col-4 text-black">
						 						 	<h2 class="display-4 text-warning">movie-CREW</h2>
						 						 	<p class="fs-4">Geeta Sethi, Jasmine Kohli, and Divya Rana are flight attendants with Kohinoor Airlines in Mumbai, which is on the verge of bankruptcy. The staff have not been paid their salaries in months, and the three friends, like all the other employees, keep hoping that things will change.</p>
						 						 </div></div></div>
			<div class="container">
						<div class="row">
						
					
						<div class="col-4">
						 <h2 class="display-4 text-warning">Deadpool</h2>
						 						 	<p class="fs-4">The film stars Ryan Reynolds in the title role, alongside Morena Baccarin, Ed Skrein, T. J. Miller, Gina Carano, and Brianna Hildebrand. In the film, Wade Wilson hunts the man responsible for giving him mutant abilities and a scarred physical appearance, becoming the antihero Deadpool.</p>
						 						 </div>
						 <div class="col-1"></div>
						 <div class="col-7 text-black">
						<iframe width="100%" height="500" src="https://www.youtube.com/embed/TUaR3Mf3PFo?si=52hDxlHe1_oCT67Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


						 						 	
						 						 </div></div></div>
				<div class="container">
						<div class="row">
						
					
						<div class="col-7">
						 <iframe width="100%" height="500" src="https://www.youtube.com/embed/qQJJWhh-XRo?si=8DM89f5Ss11sVuSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
						 <div class="col-1"></div>
						 						 <div class="col-4 text-black">
						 						 	<h2 class="display-4 text-warning">movie-RAAYAN</h2>
						 						 	<p class="fs-4">Suryah, Prakash Raj, Selvaraghavan, Sundeep Kishan, Kalidas Jayaram, Aparna Balamurali, Varalaxmi Sarathkumar and Saravanan. In the film, Kathavaraayan "Raayan", a fast-food hotel owner in North Chennai, begins to protect his family when they inadvertently get muddled in a war between two rival gangs.</p>
						 						 </div></div></div>
			<div class="container">
						<div class="row">
						
					
						<div class="col-4">
						 <h2 class="display-4 text-warning">CHANDU CHAMPION</h2>
						 						 	<p class="fs-4">The movie shows the journey of Murlikant Petkar an ex army officer who won the Gold Medal in 1972 Paralympics in Heidelberg Germany.</p>
						 						 </div>
						 <div class="col-1"></div>
						 <div class="col-7 text-black">
						<iframe width="100%" height="500" src="https://www.youtube.com/embed/IHQQK_Wn5DM?si=SAnE3wuf4hHdeHn9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


						 						 	
						 						 </div></div></div>

















						









</body>
</html>
{% include 'footer.html' %}
